<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.user.Servlets.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <display-name>MyCar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>com.user.Servlets.index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCar</display-name>
    <servlet-name>AddCar</servlet-name>
    <servlet-class>com.car.Servlets.AddCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCar</servlet-name>
    <url-pattern>/AddCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarDetailsServlet</display-name>
    <servlet-name>CarDetailsServlet</servlet-name>
    <servlet-class>com.car.Servlets.CarDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarDetailsServlet</servlet-name>
    <url-pattern>/CarDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCar</display-name>
    <servlet-name>DeleteCar</servlet-name>
    <servlet-class>com.car.Servlets.DeleteCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCar</servlet-name>
    <url-pattern>/DeleteCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCar</display-name>
    <servlet-name>ShowCar</servlet-name>
    <servlet-class>com.car.Servlets.ShowCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCar</servlet-name>
    <url-pattern>/ShowCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCar</display-name>
    <servlet-name>UpdateCar</servlet-name>
    <servlet-class>com.car.Servlets.UpdateCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCar</servlet-name>
    <url-pattern>/UpdateCar</url-pattern>
  </servlet-mapping>
</web-app>